@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');

body {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 100%;
  margin:0;
  padding:0;
  font-family: sans-serif;
  background-color: rgb(65, 46, 82);
}
  
 
.card{
  height: 1050px;
  width: 950px;
  background-color: rgb(248, 251, 250);
 /* margin-left: 35%;*/
  font-family: "Times New Roman", Times, serif;
 
  box-shadow: 30px;
  box-shadow: #181616;
  
}
.logo-section{
  height: 100px;
  text-align: center;
  line-height: 4px;
  color: black;
}
.addressbox{
  text-align: left;
  font-family: 'Monoton', cursive;
  margin-left: 5PX;
  color: black;
}
.logo-section p{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: left;
  color: black;
  margin-left: 5PX;
}
.logo-section img{
  float: right;
  margin-top: -40px;
  height: 150px;
  width: 150px;
}
 .nav-section{
   height: 40px;
   background-color: rgb(183, 127, 127);
   color: chartreuse;
   text-align: center;
 } 
 ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  word-spacing: 20px;
}

li {
  display: inline;
  height: max-content;
}
li:hover{
  cursor: pointer;
 
  color: #fbf8f8;
  
}
li a:hover{
  background-color: #62d852;
  color: #181616;
}
li a{
 
  color: bisque;
  text-align: center;
  padding: 14px 14px;
  text-decoration: none;
  font-size: 17px;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
 margin-top: 100px;
 justify-content: space-around;
 box-shadow: 10px;
 

}

.flex-item-left {
  background-color: #fbf8f8;
  padding: 70px 70px;
  
 height: 50px;
 width: 100px;
 color: black;
 font-size: small; 
box-shadow: 2px 5px 4px 4px #888888;
border-radius: 3px ;
border-color: black;
}

.flex-item-left img{
  height: 70px;
  width: 70px;
  margin-top: -30px;
}




.footer{
  color: white;
  height: 20px;
  background-color: #182c25;
  text-align: center;
  left: 0;
 bottom: 15px;
margin-top: 250px;
font-size: smaller;
}